/*css for menu */
.menu{
    list-style-type:none;
    padding: 10px;
    background-color: white;
    width:130px;
    min-height:150px;
    border: 1px solid black;
}
/*css for menu item*/
li{
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* css for active menu item*/
.active{
    
    background-color: rgba(6, 155, 248, 0.8);
    color: white;
    border-radius: 5px;
    
}